.title{
    color: rgb(43, 226, 217);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size:50px;
    margin-top:10px;
    
}
body{
    background-color: beige;
}
img{
    height:250px;
    width: 250px;
    float:left;
    margin-right: 50px;
    margin-left: 200px;
    margin-top: 0px;
    border:150px;
}
.quote{
    margin-right:200px;
    font-size: 50px;
   
}   
.description{
    font-size: medium;
    background-color: aqua;
    padding:10px;
    margin-top:100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 25px;
    size: auto;
    height: 210px;
}

